
.js-open-drawer-menu #drawer-menu {
    display: block;
}

.drawer {
    position: absolute;
    top: 95px;
    left: 10px;
    right: 10px;
    z-index: 1040;
    border-top: var(--major-color) 2px solid;
    background-color: #fff;
}

.drawer-body {
    padding: 15px;
}

#drawer-menu nav li {
    height: 3.375rem;
    line-height: 3.375rem;
    border-color: #ddd;
    overflow: hidden;
    font-size: 22px;
}

#drawer-menu {
    display: none;
}

.js-open-drawer-menu #drawer-menu {
    display: block;
}

#drawer-menu ul {
    margin: 0;
    padding: 0;
}

#drawer-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#drawer-menu .drawer-menu-lv1-item,
#drawer-menu .drawer-menu-lv1-item-with-dropdown {
    border-bottom: 1px solid #ebebeb;
}

#drawer-menu .drawer-menu-lv1-item:hover,
#drawer-menu .drawer-menu-lv1-item-with-dropdown:hover {
    background-color: #f8f8f8;
}

#drawer-menu .drawer-menu-lv1-item-with-dropdown {
    border-bottom: 1px solid #ebebeb;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 1rem 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23999' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#drawer-menu .drawer-menu-lv1-item > a {
    display: block;
    padding: 13px 20px 11px;
}

#drawer-menu .drawer-menu-lv1-item-with-dropdown > a {
    display: inline-block;
    padding: 13px 20px 11px;
}

#drawer-menu .drawer-menu-lv1-dropdown {
    padding-left: 20px;
}

#drawer-menu .drawer-menu-lv2-item {
    border-bottom: 1px solid #ebebeb;
}

#drawer-menu .drawer-menu-lv2-item > a {
    display: block;
    padding: 13px 20px 11px;
}

